@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

a:visited {
	color: #8181F7;
}

body {
	background:white;
	color: black;
	font-family: 'Work Sans', sans-serif;
	font-size: 0.9rem;
	font-weight: 300;
}


p{
	color:black;
	padding: 5px;
}

b {
	color:#FF5733;
	
}

a:link {
	color: #DEB887;
}



div {
	width: 50px;
	height: 50px;
	background: white;
}

#ChangeColour4:hover {
	background-color: #1037c4;
}

#ChangeColour5:hover {
	background-color: #1037c4;
}

#ChangeColour6:hover {
	background-color: #1037c4;
}
#ChangeColour7:hover {
	background-color: #1037c4;
}
#ChangeColour8:hover {
	background-color: #1037c4;
}
#ChangeColour9:hover {
	background-color: #1037c4;
}
#ChangeColour10:hover {
	background-color: #1037c4;
}

#ChangeColour11:hover {
	background-color: #1037c4;
}

#ChangeColour12:hover {
	background-color: #1037c4;
}

#ChangeColour13:hover {
	background-color: #1037c4;
}

#ChangeColour14:hover {
	background-color: #1037c4;
}

#ChangeColour15:hover {
	background-color: #1037c4;
}

#ChangeColour16:hover {
	background-color: #1037c4;
}

#ChangeColour17:hover {
	background-color: #1037c4;
}

#ChangeColour18:hover {
	background-color: #1037c4;
}

#ChangeColour19:hover {
	background-color: #1037c4;
}

#ChangeColour20:hover {
	background-color: #1037c4;
}

#ChangeColour21:hover {
	background-color: #1037c4;
}

#ChangeColour22:hover {
	background-color: #1037c4;
}

#ChangeColour23:hover {
	background-color: #1037c4;
}

#ChangeColour24:hover {
	background-color: #1037c4;
}

#ChangeColour25:hover {
	background-color: #1037c4;
}

#ChangeColour26:hover {
	background-color: #1037c4;
}

#ChangeColour27:hover {
	background-color: #1037c4;
}

#ChangeColour28:hover {
	background-color: #1037c4;
}

#ChangeColour29:hover {
	background-color: #1037c4;
}

#ChangeColour30:hover {
	background-color: #98b9ed;
}

#ChangeColour31:hover {
	background-color: #98b9ed;
}

#ChangeColour32:hover {
	background-color: #1037c4;
}


#ChangeColour33:hover {
	background-color: #1037c4;
}


#ChangeColour34:hover {
	background-color: #1037c4;
}

#ChangeColour35:hover {
	background-color: #1037c4;
}


#ChangeColour36:hover {
	background-color: #1037c4;
}

#ChangeColour37:hover {
	background-color: #1037c4;
}

#ChangeColour38:hover {
	background-color: #1037c4;
}

#ChangeColour39:hover {
	background-color: #1037c4;
}

#ChangeColour40:hover {
	background-color: #1037c4;
}

#ChangeColour41:hover {
	background-color: #1037c4;
}

#ChangeColour42:hover {
	background-color: #1037c4;
}

#ChangeColour43:hover {
	background-color: #1037c4;
}

#ChangeColour44:hover {
	background-color: #1037c4;
}

#ChangeColour45:hover {
	background-color: #1037c4;
}

#ChangeColour46:hover {
	background-color: #1037c4;
}

#ChangeColour47:hover {
	background-color: #1037c4;
}

#ChangeColour48:hover {
	background-color: #1037c4;
}

#ChangeColour49:hover {
	background-color: #98b9ed;
}

#ChangeColour50:hover {
	background-color: #98b9ed;
}

#ChangeColour51:hover {
	background-color: #98b9ed;
}

#ChangeColour52:hover {
	background-color: #98b9ed;
}

#ChangeColour53:hover {
	background-color: #1037c4;
}

#ChangeColour54:hover {
	background-color: #1037c4;
}

#ChangeColour55:hover {
	background-color: #1037c4;
}

#ChangeColour56:hover {
	background-color: #1037c4;
}

#ChangeColour57:hover {
	background-color: #1037c4;
}

#ChangeColour58:hover {
	background-color: #1037c4;
}

#ChangeColour59:hover {
	background-color: #1037c4;
}

#ChangeColour60:hover {
	background-color: #1037c4;
}

#ChangeColour61:hover {
	background-color: #1037c4;
}

#ChangeColour62:hover {
	background-color: #84a2ce;

}

#ChangeColour63:hover {
	background-color: #84a2ce;
}

#ChangeColour64:hover {
	background-color: #1037c4;
}

#ChangeColour65:hover {
	background-color: #1037c4;
}

#ChangeColour66:hover {
	background-color: #1037c4;
}

#ChangeColour67:hover {
	background-color: #1037c4;
}

#ChangeColour68:hover {
	background-color: #98b9ed;
}

#ChangeColour69:hover {
	background-color: #98b9ed;
}

#ChangeColour70:hover {
	background-color: #98b9ed;
}

#ChangeColour71:hover {
	background-color: #98b9ed;
}

#ChangeColour72:hover {
	background-color: #6780a5;
}

#ChangeColour73:hover {
	background-color: #98b9ed;
}

#ChangeColour74:hover {
	background-color: #1037c4;
}

#ChangeColour75:hover {
	background-color: #1037c4;
}

#ChangeColour76:hover {
	background-color: #1037c4;
}

#ChangeColour77:hover {
	background-color: #1037c4;
}

#ChangeColour78:hover {
	background-color: #84a2ce;

}

#ChangeColour79:hover {
	background-color: #84a2ce;
}

#ChangeColour80:hover {
	background-color: #1037c4;
}

#ChangeColour81:hover {
	background-color: #84a2ce;
}

#ChangeColour82:hover {
	background-color: #84a2ce;
}

#ChangeColour83:hover {
	background-color: #84a2ce;
}

#ChangeColour84:hover {
	background-color: #84a2ce;
}

#ChangeColour85:hover {
	background-color: #1037c4;
}

#ChangeColour86:hover {
	background-color: #1037c4;
}

#ChangeColour87:hover {
	background-color: #1037c4;
}

#ChangeColour88:hover {
	background-color: #98b9ed;
}

#ChangeColour89:hover {
	background-color: #6780a5;
}

#ChangeColour90:hover {
	background-color: #98b9ed;
}

#ChangeColour91:hover {
	background-color: #6780a5;
}

#ChangeColour92:hover {
	background-color: #6780a5;
}

#ChangeColour93:hover {
	background-color: #98b9ed;
}

#ChangeColour94:hover {
	background-color: #1037c4;
}

#ChangeColour95:hover {
	background-color: #1037c4;
}

#ChangeColour96:hover {
	background-color: #1037c4;
}

#ChangeColour97:hover {
	background-color: #84a2ce;
}

#ChangeColour98:hover {
	background-color: #84a2ce;
}

#ChangeColour99:hover {
	background-color: #84a2ce;
}

#ChangeColour100:hover {
	background-color: #84a2ce;
}

#ChangeColour101:hover {
	background-color: #405266;
}

#ChangeColour102:hover {
	background-color: #84a2ce;
}

#ChangeColour103:hover {
	background-color: #405266;
}

#ChangeColour104:hover {
	background-color: #405266;
}

#ChangeColour105:hover {
	background-color: #84a2ce;
}

#ChangeColour106:hover {
	background-color: #1037c4;
}

#ChangeColour107:hover {
	background-color: #98b9ed;
}

#ChangeColour108:hover {
	background-color: #6780a5;
}

#ChangeColour109:hover {
	background-color: #98b9ed;
}

#ChangeColour110:hover {
	background-color: #6780a5;
}


#ChangeColour111:hover {
	background-color: #6780a5;
}


#ChangeColour112:hover {
	background-color: #6780a5;
}


#ChangeColour113:hover {
	background-color: #6780a5;
}

#ChangeColour114:hover {
	background-color: #98b9ed;
}

#ChangeColour115:hover {
	background-color: #1037c4;
}


#ChangeColour116:hover {
	background-color: #84a2ce;
}

#ChangeColour117:hover {
	background-color: #405266;
}

#ChangeColour118:hover {
	background-color: #405266;
}

#ChangeColour119:hover {
	background-color: #84a2ce;
}

#ChangeColour120:hover {
	background-color: #405266;
}

#ChangeColour121:hover {
	background-color: #84a2ce;
}

#ChangeColour121:hover {
	background-color: #405266;
}

#ChangeColour123:hover {
	background-color: #405266;
}

#ChangeColour124:hover {
	background-color: #405266;
}

#ChangeColour125:hover {
	background-color: #405266;
}

#ChangeColour126:hover {
	background-color: #6780a5;
}

#ChangeColour127:hover {
	background-color: #6780a5;
}

#ChangeColour128:hover {
	background-color: #6780a5;
}

#ChangeColour129:hover {
	background-color: #6780a5;
}

#ChangeColour130:hover {
	background-color: #6780a5;
}

#ChangeColour131:hover {
	background-color: #6780a5;
}

#ChangeColour132:hover {
	background-color: #6780a5;
}

#ChangeColour133:hover {
	background-color: #6780a5;
}

#ChangeColour134:hover {
	background-color: #6780a5;
}

#ChangeColour135:hover {
	background-color: #6780a5;
}
#ChangeColour136:hover {
	background-color: #405266;
}
#ChangeColour137:hover {
	background-color: #405266;
}
#ChangeColour138:hover {
	background-color: #405266;
}
#ChangeColour139:hover {
	background-color: #405266;
}

#ChangeColour140:hover {
	background-color: #84a2ce;
}

#ChangeColour141:hover {
	background-color: #405266;
}


#ChangeColour142:hover {
	background-color: #405266;
}

#ChangeColour143:hover {
	background-color: #405266;
}

#ChangeColour144:hover {
	background-color: #405266;
}

#ChangeColour145:hover {
	background-color: #6780a5;
}

#ChangeColour146:hover {
	background-color: #6780a5;
}

#ChangeColour147:hover {
	background-color: #6780a5;
}

#ChangeColour148:hover {
	background-color: #6780a5;
}

#ChangeColour149:hover {
	background-color: #6780a5;
}

#ChangeColour150:hover {
	background-color: #6780a5;
}

#ChangeColour151:hover {
	background-color: #6780a5;
}

#ChangeColour152:hover {
	background-color: #6780a5;
}

#ChangeColour153:hover {
	background-color: #6780a5;
}

#ChangeColour154:hover {
	background-color: #6780a5;
}

#ChangeColour155:hover {
	background-color: #6780a5;
}

#ChangeColour156:hover {
	background-color: #6780a5;
}

#ChangeColour157:hover {
	background-color: #405266;
}

#ChangeColour158:hover {
	background-color: #405266;
}

#ChangeColour159:hover {
	background-color: #405266;
}

#ChangeColour160:hover {
	background-color: #405266;
}

#ChangeColour161:hover {
	background-color: #70e576;
}

#ChangeColour162:hover {
	background-color: #4bb755;
}

#ChangeColour163:hover {
	background-color: #4bb755;
}

#ChangeColour164:hover {
	background-color: #4bb755;
}

#ChangeColour165:hover {
	background-color: #4bb755;
}

#ChangeColour166:hover {
	background-color: #4bb755;
}

#ChangeColour167:hover {
	background-color: #4bb755;
}

#ChangeColour168:hover {
	background-color: #4bb755;
}

#ChangeColour169:hover {
	background-color: #4bb755;
}

#ChangeColour170:hover {
	background-color: #4bb755;
}

#ChangeColour171:hover {
	background-color: #4bb755;
}

#ChangeColour172:hover {
	background-color: #4bb755;
}

#ChangeColour173:hover {
	background-color: #4bb755;
}

#ChangeColour174:hover {
	background-color: #4bb755;
}

#ChangeColour175:hover {
	background-color: #4bb755;
}

#ChangeColour176:hover {
	background-color: #4bb755;
}

#ChangeColour177:hover {
	background-color: #70e576;
}

#ChangeColour178:hover {
	background-color: #4bb755;
}

#ChangeColour179:hover {
	background-color: #4bb755;
}

#ChangeColour180:hover {
	background-color: #4bb755;
}

#ChangeColour181:hover {
	background-color: #4bb755;
}

#ChangeColour182:hover {
	background-color: #4bb755;
}

#ChangeColour183:hover {
	background-color: #4bb755;
}

#ChangeColour184:hover {
	background-color: #4bb755;
}

#ChangeColour185:hover {
	background-color: #70e576;
}

#ChangeColour186:hover {
	background-color: #4bb755;
}

#ChangeColour187:hover {
	background-color: #4bb755;
}

#ChangeColour188:hover {
	background-color: #4bb755;
}

#ChangeColour189:hover {
	background-color: #4bb755;
}

#ChangeColour190:hover {
	background-color: #4bb755;
}

#ChangeColour191:hover {
	background-color: #4bb755;
}

#ChangeColour192:hover {
	background-color: #4bb755;
}

#ChangeColour193:hover {
	background-color: #70e576;
}

#ChangeColour194:hover {
	background-color: #4bb755;
}

#ChangeColour195:hover {
	background-color: #4bb755;
}

#ChangeColour196:hover {
	background-color: #4bb755;
}

#ChangeColour197:hover {
	background-color: #4bb755;
}

#ChangeColour198:hover {
	background-color: #4bb755;
}
