@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}

/* 


display
display:block vs. inline 
display:none;
display:grid;
columns.
1fr 2fr
add another column
add a header
what's the website about?
Add some typography

https://cssgridgarden.com/

*/

h1 {
	font-family: 'Work Sans', sans-serif;
	font-size: 10rem;
	font-weight: 400;

	
}

h2 {
	font-family: 'Work Sans', sans-serif;
	font-size: 100px;
	font-weight: 300;


}

h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 50px;
	font-weight: 300;
	margin-top: 150px;


}

p {
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
	font-weight: 300;


}

b, strong {
	color: black;
}

a:visited {
	color: #8181F7;
}

a:link {
	color: #DEB887;
}

.grid-container {
	display: grid; /* how different elements get controlled on the page */
	grid-template-columns: 1fr;
	/*max-width: 2000px;
	max-height: 1500px;*/
	width:100%;
    height:100%;


}


.main {
	
	background-color:white;
	/* border-width: 5px;
	border-style: solid; */
	background-image: linear-gradient(60deg, #f6cfbe, #b9dcf2, #ea5753);
	background-size: 300%;
	animation: main-animation 8s infinite alternate;
	

}

@keyframes main-animation {
	0%{
		background-position: left;
	}
	100%{
		background-position: right;
	}
}
.container {
	display: flex;
	justify-content: center;
	position: absolute;
}

.sidebar-container {
	display: grid; /* how different elements get controlled on the page */
	grid-template-columns: 1fr;
	width: 100%;
	height: 100%;
	margin: auto;
	justify-content: center;
	/*background-size: 50px 50px;
 	background-image:
    linear-gradient(to right, #b9dcf2 2px, transparent 2px),
    linear-gradient(to bottom, #b9dcf2 2px, transparent 2px);
    background-attachment: fixed;*/

}

.sidebar1 {
	
	
	/*border-width: 5px;
	border-color: #f49e7f;
	border-style: solid;
	border-width: 5px;
	border-style: solid;
	border-color: black; */
	background-color: white;
	padding: 50px;
	text-align: auto;
	max-width: 73.5rem;
	height: auto;
	margin: auto;
	position: relative;
	/*background-image: radial-gradient(#b9dcf2 0%, white 50%);*/

}

.grid {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid div:hover {
            background:#FE2E2E;
            transition-delay:0.01s;
        }

.grid1 {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid1 div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid1 div:hover {
            background:#F3F781;
            transition-delay:0.01s;
        }

  .grid2 {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid2 div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid2 div:hover {
            background: #FF8000;
            transition-delay:0.01s;
        }

  .grid3 {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid3 div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid3 div:hover {
            background: #6E6E6E;
            transition-delay:0.01s;
        }

.grid4 {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid4 div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid4 div:hover {
            background: #04B45F;
            transition-delay:0.01s;
        }

.grid5 {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid5 div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid5 div:hover {
            background: #000000;
            transition-delay:0.01s;
        }

.grid6 {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid6 div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid6 div:hover {
            background: #FFFFFF;
            transition-delay:0.01s;
        }

 .grid7 {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid7 div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid7 div:hover {
            background: #2E2EFE;
            transition-delay:0.01s;
        }

.grid8 {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid8 div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid8 div:hover {
            background: #8000FF;
            transition-delay:0.01s;
        }

.grid9 {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid9 div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid9 div:hover {
            background: #FA5882;
            transition-delay:0.01s;
        }

.grid10 {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid10 div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid10 div:hover {
            background: #0B614B;
            transition-delay:0.01s;
        }

.grid11 {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid11 div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid11 div:hover {
            background: #8181F7;
            transition-delay:0.01s;
        }

.grid12 {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid12 div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid12 div:hover {
            background: #FA8258;
            transition-delay:0.01s;
        }

.grid13 {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid13 div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid13 div:hover {
            background: #F2F2F2;
            transition-delay:0.01s;
        }

.grid14 {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid14 div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid14 div:hover {
            background: #2E9AFE;
            transition-delay:0.01s;
        }

.grid15 {
            display:grid;
            grid-template-columns: repeat(20, 1fr);
            position:relative;
        }

        .grid15 div {
            border:2px black;
            width:5vw;
            height:5vw;
            transition:all 0.2s;
            transition-delay:10s;
            
        }


        .grid15 div:hover {
            background: #FFFFFF;
            transition-delay:0.01s;
        }




