@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}


h1 {
	font-family: 'Work Sans', sans-serif;
	font-size: 10em;
	font-weight: 400;
	
}

h2 {
	font-family: 'Work Sans', sans-serif;
	font-size: 100px;
	font-weight: 300;


}

h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 50px;
	font-weight: 300;
	margin-top: 150px;


}

p {
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
	font-weight: 300;


}

b, strong {
	color: black;
}

b:hover, strong:hover{
	color: #ea5753;

}

.grid-container {
	display: grid; 
	grid-template-columns: 1fr;
	width:100%;
   	height:100%;

}

.main {
	
	background-color:white;
	background-image: linear-gradient(60deg, #f6cfbe, #b9dcf2, #ea5753);
	background-size: 300%;
	animation: main-animation 8s infinite alternate;
	
}

@keyframes main-animation {
	0%{
		background-position: left;
	}
	100%{
		background-position: right;
	}
}
.container {
	display: flex;
	justify-content: center;
	position: absolute;
}

.sidebar-container {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	height: 100%;
	margin: auto;
	justify-content: center;
	background-size: 50px 50px;
 	background-image:
    	linear-gradient(to right, #b9dcf2 2px, transparent 2px),
    	linear-gradient(to bottom, #b9dcf2 2px, transparent 2px);
    	background-attachment: fixed;

}

.sidebar1 {
	
	background-color: white;
	border-width: 5px;
	border-color: #f6cfbe;
	border-style: solid;
	padding: 50px;
	text-align: auto;
	width: 75rem;
	height: auto;
	margin: auto;
	position: relative;
	

}


